../../data
data
*.db
*.db-shm
*.db-wal

node_modules
.turbo
dist
coverage
*.log

.git
.gitignore
.github
.DS_Store
.vscode

../admin
../landing
../mcp
../model-lab
../onboarding
../web-clipper
../server
../../adapters
